<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <a href="clients"><i class="fa fa-fw fa-bar-chart-o"></i> Clients </a>
        </li>
        <li>
            <a href="invoices"><i class="fa fa-fw fa-bar-chart-o"></i> Invoices </a>
        </li>
        <li>
            <a href="employees"><i class="fa fa-fw fa-bar-chart-o"></i> Employees </a>
        </li>
        <li>
            <a href="trucks"><i class="fa fa-fw fa-bar-chart-o"></i> Trucks </a>
        </li>
        <li>
            <a href="items"><i class="fa fa-fw fa-bar-chart-o"></i> Items </a>
        </li>
        <li>
            <a href="deliveries"><i class="fa fa-fw fa-bar-chart-o"></i> Deliveries </a>
        </li>
    </ul>
</div>