<div class="row">
    <div class="col-lg-12 title-bar">
        <h3 class="title col-lg-6">
            Employees
        </h3>
        <div class="col-lg-6 title-box">
            <a href="employees/add" class="btn col-lg-offset-11 btn-primary">Add</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>email</th>
                        <th>telephone/mobile</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in Employees">
                        <td>{{employee.id}}</td>
                        <td>
                            {{employee.first_name}} {{employee.middle_name}} {{employee.last_name}}
                        </td>
                        <td>{{employee.email}}</td>
                        <td>{{employee.telephone}} / {{employee.mobile}}</td>
                        <td><a href="employees/{{employee.id}}">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

